In [1]:
import pandas as pd
df = pd.read_csv('Data/train.csv')
df.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,NaN,2.0,1.0,...,23533.0,NaN,NaN,2015-08-23 00:00:00,0.0,0.0,0.0,0.0,0.0,2273000.0
1,53461,condominio horizontal en venta,"<p>entre sonora y guerrero, atr&aacute;s del h...",Casa en condominio,AV. MEXICO,La Magdalena Contreras,Distrito Federal,10.0,3.0,2.0,...,24514.0,19.310205,-99.227655,2013-06-28 00:00:00,0.0,0.0,0.0,1.0,1.0,3600000.0
2,247984,casa en venta urbi 3 recamaras tonala,descripcion \nla mejor ubicacion residencial e...,Casa,Urbi Tonala,Tonalá,Jalisco,5.0,3.0,2.0,...,48551.0,NaN,NaN,2015-10-17 00:00:00,0.0,0.0,0.0,0.0,0.0,1200000.0
3,209067,casa sola en toluca zinacantepec con credito i...,casa en privada con caseta de vigilancia casas...,Casa,IGNACIO MANUEL ALTAMIRANO 128,Zinacantepec,Edo. de México,1.0,2.0,1.0,...,53666.0,19.301890,-99.688015,2012-03-09 00:00:00,0.0,0.0,0.0,1.0,1.0,650000.0
4,185997,paseos del sol,bonito departamento en excelentes condiciones ...,Apartamento,PASEOS DEL SOL,Zapopan,Jalisco,10.0,2.0,1.0,...,47835.0,NaN,NaN,2016-06-07 00:00:00,0.0,0.0,0.0,0.0,0.0,1150000.0

In [5]:
df.tipodepropiedad.value_counts()

Casa                             141717
Apartamento                       57341
Casa en condominio                19297
Terreno                            9945
Local Comercial                    3055
Oficina comercial                  1741
Bodega comercial                   1406
Edificio                           1396
Terreno comercial                  1326
Casa uso de suelo                   708
Quinta Vacacional                   395
Duplex                              343
Villa                               340
Inmuebles productivos urbanos       200
Rancho                              170
Local en centro comercial           165
Departamento Compartido             141
Otros                               134
Nave industrial                      76
Terreno industrial                   31
Huerta                               20
Lote                                  5
Garage                                1
Hospedaje                             1
Name: tipodepropiedad, dtype: int64

### Cuales son las 5 ciudades mas cara para comprar una propiedad?

In [11]:
#Me quedo con las propiedades habitables
tipoDePropiedadHabitable = ['Casa', 'Apartamento', 'Casa en condominio', 'Duplex', 'Departamento Compartido', 'Lote']
propiedadesHabitables = df[df.tipodepropiedad.isin(tipoDePropiedadHabitable)]

#Elimino las propiedades que no tienen ciudad marcada
propiedadesHabitables = propiedadesHabitables.dropna(subset=['ciudad'])

#Elimino las propiedades ubicadas en ciudades con menos de 100 propiedades
ciudadCantPropiedades = propiedadesHabitables.ciudad.value_counts()
ciudadCantPropiedades = ciudadCantPropiedades[ciudadCantPropiedades[:] > 100]
propiedadesHabitables = propiedadesHabitables[propiedadesHabitables.ciudad.isin(ciudadCantPropiedades.index)]

In [26]:
ciudadesMasCaras = propiedadesHabitables.groupby('ciudad')['precio'].mean()
ciudadesMasCaras = ciudadesMasCaras.to_frame()
ciudadesMasCaras.rename(columns = {'ciudad': 'Ciudad', 'precio': 'Precio promedio de propiedad'}, inplace=True)
ciudadesMasCaras.astype({'Precio promedio de propiedad': 'int32'})
ciudadesMasCaras.sort_values(by = 'Precio promedio de propiedad', ascending = False).head(5)

                        Precio promedio de propiedad
ciudad
San Pedro Garza García                  7.001516e+06
Huixquilucan                            5.528575e+06
Cuajimalpa de Morelos                   4.775689e+06
La Magdalena Contreras                  4.665011e+06
Valle de Bravo                          4.590859e+06

### Cuales son las 5 ciudades mas baratas para comprar una propiedad?

In [29]:
ciudadesMasCaras.sort_values(by = 'Precio promedio de propiedad', ascending = True).head(5)

                             Precio promedio de propiedad
ciudad
Huehuetoca                                  411783.444175
Zumpango                                    548864.350000
Tizayuca                                    583668.488152
Tarímbaro                                   629002.669643
Soledad de Graciano Sánchez                 664766.783375